<!doctype html>
<html lang='es'>
	<head>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1' />
		<title>Julian M Parra</title>

		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' type='text/css' href='../static/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='../static/css/custom.css'/>
		
	</head>
	<body>
		<header class='Header'>
			<nav class='Header-menu'>
				<ul  class='Header-menuList'>
					<li class='Header-menuItem'><a href='#Home' title='Home' class='Header-menuLink ui-shadowText'><span class='Header-menuText'>Home</span><span class='Header-menuIcon icon-inicio'></span></a></li>					
					<li class='Header-menuItem'><a href='#' title='Works' class='Header-menuLink ui-shadowText'><span class='Header-menuText'>Works</span><span class='Header-menuIcon icon-trabajo'></span></a></li>
					<li class='Header-menuItem'><a href='#' title='Contact' class='Header-menuLink ui-shadowText'><span class='Header-menuText'>Contact</span><span class='Header-menuIcon icon-contacto'></span></a></li>
				</ul>
			</nav>			
		</header>

		<section class='Home'>
			<h1 class='Home-header'>
				<div class='Home-headerIcon icon-perfil ui-shadowText'></div>
				<div class='Home-headerTitle ui-shadowText'>Julian M Parra</div>
			</h1>
			<div class='Home-body'>
				<figure class='Home-img'>
					<img src='../static/img/avatar.jpg' alt='Julian M Parra'/>
				</figure>
				<article class='Home-article'>				
					<h2 class='Home-articleTitle'>Profile</h2>
					<p class='Home-articleText'>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</p>
				</article>
			</div>
		</section>

		<footer class='Footer'>
			<a class='Footer-link ui-shadowText icon-twitter' href='#'></a>
			<a class='Footer-link ui-shadowText icon-github' href='#'></a>
			<a class='Footer-link ui-shadowText icon-linkedin' href='#'></a>
			<div class='Footer-description'>
				Powered By Julian M Parra &copy; 2014
			</div>			
		</footer>
		
		
	</body>
</html>