<!doctype html>
<html lang='es'>
	<head>
		<meta charset='utf-8'/>
		<meta name='viewport' content='width=device-width, minimum-scale=1, maximum-scale=1' />
		<title>Julian M Parra</title>

		<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
		<link rel='stylesheet' type='text/css' href='../static/css/normalize.css'/>
		<link rel='stylesheet' type='text/css' href='../static/css/custom.css'/>
		
	</head>
	<body>
		<header class='Header'>
			<nav class='Header-menu'>
				<ul  class='Header-menuList'>
					<li class='Header-menuItem'><a href='#Home' title='Home' class='Header-menuLink'><span class='Header-menuText'>Home</span><span class='Header-menuIcon icon-inicio'></span></a></li>
					<li class='Header-menuItem'><a href='#' title='Profile' class='Header-menuLink'><span class='Header-menuText'>Profile</span><span class='Header-menuIcon icon-perfil'></span></a></li>
					<li class='Header-menuItem'><a href='#' title='Works' class='Header-menuLink'><span class='Header-menuText'>Works</span><span class='Header-menuIcon icon-trabajo'></span></a></li>
					<li class='Header-menuItem'><a href='#' title='Contact' class='Header-menuLink'><span class='Header-menuText'>Contact</span><span class='Header-menuIcon icon-contacto'></span></a></li>
				</ul>
			</nav>			
		</header>
		
		<section class='Home'>
		
			<figure class='Home-figure'>
				<img class='Home-figureImg' src='../static/img/avatar.jpg' alt='avatar'/>
			</figure>
			<div class='Home-list'>
				<a class='Home-link Home-linkTwitter' href='https://twitter.com/MauroRebound' target='_blank'><span class='icon-twitter'></span></a>
				<a class='Home-link Home-linkFacebook' href='https://facebook.com/rebound56' target='_blank'><span class='icon-facebook'></span></a>	
			</div>
		</section>
		
	</body>
</html>