/*
*
*	@Author :JULIAN M PARRA
* 
*/


.Alerta 
{
	position:fixed;
	z-index:2;
	right:0;
	top:0;
	left:0;
	bottom:0;
	background:rgba(255,255,255,0.8);

}
.Alerta .Alerta-mensaje 
{
	margin: 1em auto 0 auto;	
	width: 70%;	
	border-radius:.6em;
	overflow: hidden;
	box-shadow: 0 0 1em .5em rgba(0,0,0,0.5);

}

.Alerta .Alerta-mensaje .Alerta-mensajeHeader
{

	color:#fff;
	background-color:#39825A;
	padding:.5em;	
	margin:0;
	font-size:1.4em;
	
}

.Alerta .Alerta-mensaje .Alerta-mensajeBody
{
	background-color:#eee;	
	padding:2em;
	

}

.Alerta .Alerta-mensaje .Alerta-mensajeFooter
{
	background-color:#ccc;
	padding:.5em;	
	text-align:right;

}
.Alerta .Alerta-mensaje .Alerta-mensajeFooter .Alerta-button
{
	margin: 0;
	padding: .5em 1em;
	background: #39825A;
	border-color:#39825A;
	border-radius: .5em;
	color: #fff;

}
.Alerta .Alerta-mensaje .Alerta-mensajeFooter .Alerta-button:hover
{
	
	background: #175031;
	border-color:#175031;	

}

/* Cargando */

.Cargando
{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:white;
}
.Cargando .Cargando-content
{
	width:115px;
	margin:30% auto 0;
}
.Cargando .Cargando-content img
{
	width:100%;	
}

/* contacto*/


.Contacto
{
	margin:2em;
	overflow:hidden;
	border-radius:.6em;
}

.Contacto .Contacto-body
{
	background-color:#eeeeee;
	padding:0 2em 2em;	
	
}

.Contacto .Contacto-body .Contacto-form
{
	display:inline-block;
	width:49%;
	vertical-align:top;
	overflow:hidden;
	
}
.Contacto .Contacto-body .Contacto-form form
{
	padding:.5em;
	
}
.Contacto .Contacto-body .Contacto-form .Contacto-label
{
	display:inline-block;
	width:90%;	
	margin:1em 0 0 0;

}
.Contacto .Contacto-body .Contacto-form .Contacto-input
{
	display:inline-block;
	width:90%;	
	margin:1em 0 0 0;
	padding:.5em;
	border-radius:.5em;
}
.Contacto .Contacto-body .Contacto-form .Contacto-textarea
{
	display:inline-block;	
	width:90%;	
	resize:none;
	margin:1em 0 0 0;
	padding:.5em;
	border-radius:.5em;

}

.Contacto .Contacto-body .Contacto-form .Contacto-boton
{
	margin:1em 0 0 0;
	padding:.5em 1em;
	background:#923113;
	border-color:#923113;
	border-radius:.5em;
	color:#fff;
}

.Contacto .Contacto-body .Contacto-form .Contacto-boton:hover
{
	margin:1em 0 0 0;
	padding:.5em 1em;
	background:#661F09;
	border-color:#661F09;
	border-radius:.5em;
	color:#fff;
} 

.Contacto .Contacto-body .Contacto-data
{
	display:inline-block;
	width:49%;
	vertical-align:top;

} 

.Contacto .Contacto-body .Contacto-data .Contacto-personalData
{
	
	padding:.5em;
	margin:2em .5em;
	text-align:center;
}  


.Contacto .Contacto-body .Contacto-data .Contacto-personalData .Contacto-dataList
{
	list-style-type:none;
	padding-left:.5em;
	
}  

.Contacto .Contacto-body .Contacto-data .Contacto-personalData .Contacto-dataList .Contacto-dataItem
{
word-wrap: break-word;


}


.Contacto .Contacto-body .Contacto-data .Contacto-personalData .Contacto-dataSubTitle
{
	
}  

.Contacto .Contacto-body .Contacto-data .Contacto-personalData .Contacto-dataTitle
{
	color:#923113;
}

.Contacto .Contacto-header 
{
	overflow:hidden;
	color:#fff;
	background-color:#395A82;
	padding:.1em .5em;	
	margin:0;
	font-size:1.4em;
	
}

.Contacto .Contacto-header .Contacto-headerTitle
{
	float:left;
	margin:0;
}
.Contacto .Contacto-header .Contacto-headerIcon
{
	float:right;
}

@media screen and (max-width:750px)
	{
		.Contacto .Contacto-body .Contacto-data{	
			width:100%;			
		}
		.Contacto .Contacto-body .Contacto-form {		
			width:100%;
		}
		.Contacto .Contacto-body{		
			padding: 0 0.5em 1em;
		}
		
	}
@media screen and (max-width:520px)
	{
		.Contacto .Contacto-body .Contacto-data{	
			font-size:.9em;
		}		
	}

/* contenido */

.Contenido
{
	margin:0 auto;
	width:90%;
}
@media screen and (max-width:520px)
	{
		.Contenido{	
			width:100%;
		}
		.Contenido section
		{
			margin:2em 0.5em;
		}		
	}

/* footer */	


	.Footer
	{
		background-color:#395A82;
		text-align:center;	
		color:#fff;
	}

	.Footer .Footer-link
	{
		display:inline-block;
		color:#fff;
		text-decoration:none;
		padding: .5em 1em 0;
		font-size:1em;
		margin: 0 .3em;
		color: #fff;
		background-color: #395A82;
		border-radius:.4em;
	}
	.Footer .Footer-link:hover
	{
		-webkit-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-o-transform: scale(1.5);
		-ms-transform: scale(1.5);
	}
	.Footer .Footer-description
	{
		
		font-size:.5em;
		margin:1.5em 0;
	}

/* icon-font*/

		@font-face {
			font-family: 'icomoon';
			src:url('../fonts/icomoon.eot?xpp7qy');
			src:url('../fonts/icomoon.eot?#iefixxpp7qy') format('embedded-opentype'),
				url('../fonts/icomoon.ttf?xpp7qy') format('truetype'),
				url('../fonts/icomoon.svg?xpp7qy#icomoon') format('svg');
			font-weight: normal;
			font-style: normal;
		}

		[class^="icon-"], [class*=" icon-"] {
			font-family: 'icomoon';
			speak: none;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;

			/* Better Font Rendering =========== */
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}

		.icon-inicio:before {
			content: "\e600";
		}
		.icon-contacto:before {
			content: "\e601";
		}
		.icon-perfil:before {
			content: "\e602";
		}
		.icon-bug:before {
			content: "\e604";
		}
		.icon-trabajo:before {
			content: "\e603";
		}
		.icon-google:before {
			content: "\e605";
		}
		.icon-facebook:before {
			content: "\e606";
		}
		.icon-twitter:before {
			content: "\e607";
		}
		.icon-github:before {
			content: "\e608";
		}
		.icon-tux:before {
			content: "\e609";
		}
		.icon-android:before {
			content: "\e60a";
		}
		.icon-linkedin:before {
			content: "\e60b";
		}
		.icon-html5:before {
			content: "\e60c";
		}
		.icon-css3:before {
			content: "\e60d";
		}
		.icon-chrome:before {
			content: "\e60e";
		}
		.icon-firefox:before {
			content: "\e60f";
		}
		.icon-IE:before {
			content: "\e610";
		}
		.icon-opera:before {
			content: "\e611";
		}
		.icon-safari:before {
			content: "\e612";
		}
		.icon-linkedin2:before {
			content: "\e614";
		}


/* Header */

	.Header
	{

	}

	.Header .Header-menu
	{

	}

	.Header .Header-menu .Header-menuList {
		margin: 0;
		list-style-type: none;
		padding: 0;
		text-align: center;
		background-color: #395A82;
	}

	.Header .Header-menu .Header-menuList .Header-menuItem
	{
		display:inline-block;
	}

	.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink {
		display: block;
		text-decoration: none;
		padding: .5em 1em;
		margin: 0 1.3em;
		color: #fff;
		background-color: #395A82;
		border-radius:.4em;
		
		
	}
	.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink:hover {		
		-webkit-transform: scale(1.5);
		-o-transform: scale(1.5);
		-moz-transform: scale(1.5);
		-ms-transform: scale(1.5);
		
	}

	.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink .Header-menuIcon
	{
		display:none;
	}
	.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink .Header-menuText
	{
		display:block;
	}

	/* media queries Header */
	
	@media screen and (max-width:520px)
	{
		.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink .Header-menuText
		{
			display:none;
			
		}
		.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink .Header-menuIcon
		{
			display:block;
			font-size:1.5em;
		}
.Header .Header-menu .Header-menuList .Header-menuItem .Header-menuLink {
margin: 0 .3em;
}	
		
	}


/* Perfil */	
	
	.Perfil
	{
		margin:2em;
		border-radius:.6em;
		overflow:hidden;	
		
	}

	.Perfil .Perfil-body
	{
		background-color:#eeeeee;		
		padding-bottom:.5em;
	}

	.Perfil .Perfil-body .Perfil-article {
		margin: 1em 0 0;
		display: inline-block;
		width:49%;		
		vertical-align:top;		
		
		
	}
	.Perfil .Perfil-body .Perfil-article .Perfil-articleText
	{
		margin:1em;		
		color:#444;

	} 
	.Perfil .Perfil-body .Perfil-article .Perfil-articleTitle
	{
		margin:0;
		text-align:center;
		color:#923113;
	}
	

	.Perfil .Perfil-body .Perfil-img {
		margin: 1em 0 0;
		display: inline-block;
		width:49%;
		text-align:center;		
	}
	.Perfil .Perfil-body .Perfil-img img {
		max-width: 215px;
		border-radius: 25% 10%;
	}

	.Perfil .Perfil-header
	{
		overflow:hidden;
		color:#fff;
		background-color:#395A82;
		padding:.1em .5em;			
		margin:0;
		font-size:1.4em;
	}

	.Perfil .Perfil-header .Perfil-headerIcon 
	{
		float:right;
			

	}
	.Perfil .Perfil-header .Perfil-headerTitle 
	{
		float:left;		
		margin:0;
	}

	
	@media screen and (max-width:620px)
	{
		.Perfil .Perfil-body .Perfil-img {			
			width:100%;
		}
		.Perfil .Perfil-body .Perfil-article {		
			width:100%;
		}

	}



/* utilities */

	.ui-shadowText
	{
		text-shadow:rgba(0,0,0,0.5) 5px 5px 5px;
	}
	.ui-shadowBox
	{
		box-shadow:rgba(0,0,0,0.5) 0 0 10px 3px;
	}

/* Trabajos */

	.Trabajos 
	{
		margin:2em;	
		overflow:hidden;
		border-radius:.6em;
	}

	.Trabajos .Trabajos-body
	{
		background-color:#eeeeee;		
		padding-bottom: 2em;
		text-align:center;
	}

	.Trabajos .Trabajos-body .Trabajos-article
	{
		margin: 1em 1.5em 0;
		display: inline-block;		
		vertical-align:top;		
		max-width:220px;
		border-radius:.6em;
		overflow:hidden;
			
	}

	.Trabajos .Trabajos-body .Trabajos-article .Trabajos-articleTitle
	{
		background-color:#923113;
		color:#fff;
		padding:.2em .3em;
		border-radius:.3em .3em 0 0;
		margin:0;

	}

	.Trabajos .Trabajos-body .Trabajos-article .Trabajos-articleImg
	{
		margin:0;
		background-color:#fff;
	}
	.Trabajos .Trabajos-body .Trabajos-article .Trabajos-articleImg img
	{
		margin:0;
		width:150px;
	}
	.Trabajos .Trabajos-body .Trabajos-article .Trabajos-articleDescription
	{
		margin:0;
		padding:.3em;
		background-color:#cccccc;

	}


.Trabajos-buttonPrimary, .Trabajos-buttonSecundary 
{
display: block;
padding: .3em;
text-decoration: none;
color: #fff;
border-radius: .3em;
margin:.3em;
}


.Trabajos-buttonPrimary
{
background: #395A82;
}


.Trabajos-buttonSecundary
{
background: #923113;
}

	.Trabajos .Trabajos-header 
	{
		overflow:hidden;
		color:#fff;
		background-color:#395A82;
		padding:.1em .5em;	
		margin:0;
		font-size:1.4em;		
	}

	.Trabajos .Trabajos-header .Trabajos-headerTitle
	{
		float:left;
		margin:0;
	}
	.Trabajos .Trabajos-header .Trabajos-headerIcon
	{
		float:right;
	}